---

---
<section
	class="container flex items-center h-full lg:h-min-[90svh] mx-auto md:px-12 px-5 pt-10 md:pt-24 pb-10 md:pb-24 relative z-10"
	id="contact">
	<div class="grid lg:grid-cols-2 grid-cols-1 gap-y-10 lg:gap-y-20 gap-x-10 xl:gap-x-20 w-full">
	<div class="flex flex-col gap-y-4 h-full justify-start text-left">
		<h1
			class="font-black text-transparent text-3xl lg:text-4xl mb-4 mt-6 bg-clip-text bg-gradient-to-r from-primary-1 to-primary-2 w-fit">
			COMUNICATE CONMIGO
		</h1>
		<h2 class="text-white font-bold text-1xl lg:text-2xl">
			¡Hablemos de tu próximo proyecto!
		</h2>
		<p class="text-white font-medium text-md lg:text-xl">
			¿Estás listo para llevar tus ideas al siguiente nivel?
		</p>
		<div class="flex flex-col gap-5 w-full">
			<a href="mailto:contacto@patricioalmada.com.ar" target="_blank"
				class="flex text-white opacity-70 hover:opacity-100 text-xl font-semibold underline gap-2 fill-white w-fit">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
					<path
						d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z">
					</path>
				</svg>
				Enviame un correo electronico
			</a>
			<a href="https://www.linkedin.com/in/patrickwebsdev/" target="_blank"
				class="flex text-white opacity-70 hover:opacity-100 text-xl font-semibold underline gap-2 fill-white w-fit">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
					<path
						d="M6.94 5a2 2 0 1 1-4-.002 2 2 0 0 1 4 .002ZM7 8.48H3V21h4V8.48Zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91l.04-1.68Z">
					</path>
				</svg>
				Conecta conmigo
			</a>
		</div>

		<div class="hidden justify-center items-center h-full lg:flex">
			<div class="group/card bg-primary-5 ring-primary-6 hover:ring-primary-7 hover:bg-primary-3 ring-2 rounded-lg shadow transition-all duration-300 grid p-2 w-full divide-y-[1px] divide-white divide-opacity-30 group-hover/card:divide-opacity-70 gap-2">
				<div class="flex justify-between items-center relative">
					<div class="flex gap-1">
						<div class="p-1.5 rounded-full bg-white opacity-30 group-hover/card:opacity-70 hover:bg-red-400 transition-colors"></div>
						<div class="p-1.5 rounded-full bg-white opacity-30 group-hover/card:opacity-70 hover:bg-amber-400 transition-colors"></div>
						<div class="p-1.5 rounded-full bg-white opacity-30 group-hover/card:opacity-70 hover:bg-green-400 transition-colors"></div>
					</div>
					<span class="text-white opacity-30 group-hover/card:opacity-70 text-sm absolute top-0 left-0 w-full text-center">/sendMail.js</span>
					<svg stroke="currentColor" fill="#FFF" stroke-width="0" viewBox="0 0 24 24" class="cursorClick opacity-30 group-hover/card:opacity-70" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" style="cursor: none;">
						<path fill="none" d="M0 0h24v24H0z"></path>
						<path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm-1 4l6 6v10c0 1.1-.9 2-2 2H7.99C6.89 23 6 22.1 6 21l.01-14c0-1.1.89-2 1.99-2h7zm-1 7h5.5L14 6.5V12z"></path>
					</svg>
				</div>
				<div class="w-full overflow-auto">
					<pre class="text-zinc-400 text-sm py-2 px-2 w-full relative"><code id="code"><span class="text-fuchsia-400">const</span> <span class="text-amber-300">formData</span> <span class="text-sky-300">=</span> <span class="text-fuchsia-400">new</span> <span class="text-amber-300">FormData</span><span class="text-amber-600">(</span><span class="text-rose-400">form</span><span class="text-amber-600">)</span><br><span class="text-fuchsia-400">const</span> <span class="text-amber-300">json</span> <span class="text-sky-300">=</span> <span class="text-amber-300">JSON</span>.<span class="text-sky-500">stringify</span><span class="text-amber-600">(</span><span class="text-amber-300">Object</span>.<span class="text-sky-500">fromEntries</span><span class="text-fuchsia-400">(</span><span class="text-amber-300">formData</span><span class="text-fuchsia-400">)</span><span class="text-amber-600">)</span><br><span class="text-cyan-600">fetch</span><span class="text-amber-600">(</span><span class="text-lime-500">'https://api.web3forms.com/submit',</span> <span class="text-fuchsia-400">&#123;</span><br>  <span class="text-rose-400">method</span>: <span class="text-lime-500">'POST',</span><br>  <span class="text-rose-400">body</span>: <span class="text-amber-300">json</span><br><span class="text-fuchsia-400">&#125;</span><span class="text-amber-600">)</span><br>.<span class="text-sky-500">then</span><span class="text-amber-600">&#40;</span><span class="text-fuchsia-400">async &#40;</span><span class="text-rose-400">res</span><span class="text-fuchsia-400">&#41; =&gt; &#123;</span><br>  <span class="text-fuchsia-400">if</span> <span class="text-sky-500">&#40;</span><span class="text-rose-400">res</span>.<span class="text-rose-400">status</span> <span class="text-sky-500">==</span> <span class="text-amber-600">200</span><span class="text-sky-500">&#41; &#123;</span><br>     <span class="text-amber-300">console</span>.<span class="text-sky-500">log</span><span class="text-amber-600">&#40;</span><span class="text-lime-500">'¡Exito!</span><span class="text-amber-600">&#41;</span>;<br>  <span class="text-sky-500">&#125;</span> <span class="text-fuchsia-400">else</span> <span class="text-sky-500">&#123;</span><br>     <span class="text-amber-300">console</span>.<span class="text-sky-500">log</span><span class="text-amber-600">&#40;</span><span class="text-lime-500">'Ocurrio un error :('</span><span class="text-amber-600">&#41;</span>;<br>  <span class="text-sky-500">&#125;</span><br><span class="text-fuchsia-400">&#125;</span><span class="text-amber-600">&#41;</span><br>.<span class="text-sky-500">catch</span><span class="text-amber-600">&#40;</span><span class="text-rose-400">err</span><span class="text-fuchsia-400">&#41; =&gt; &#123;</span><br>  <span class="text-amber-300">console</span>.<span class="text-sky-500">log</span><span class="text-amber-600">&#40;</span><span class="text-rose-400">err</span><span class="text-amber-600">&#41;</span>;<br><span class="text-fuchsia-400">&#125;</span><span class="text-amber-600">&#41;</span></code></pre>
				</div>
			</div>
		</div>
	</div>
	<div class="flex flex-col gap-y-4 h-full justify-center items-start text-left">
		<h1
			class="font-black text-transparent text-3xl lg:text-4xl mb-4 mt-6 bg-clip-text bg-gradient-to-r from-primary-1 to-primary-2 w-fit">
			ENVIAME UN MENSAJE
		</h1>
	<form method="POST" id="form"
		class="flex w-full flex-col gap-5 text-white font-medium text-md md:text-lg justify-center items-center h-full">
		<input type="hidden" name="access_key" value="57530b87-c13e-4a65-b230-e3b93eb72ded">
		<div class="grid md:grid-cols-2 md:gap-6 w-full gap-y-5 lg:gap-y-0">
			<div class="relative z-0 w-full group gap-2 flex flex-col">
				<label for="name">Nombre <span class="text-rose-400">*</span></label>
				<input type="text" autocomplete="off" name="name" id="name"
					class="block w-full rounded-xl bg-primary-5 ring-primary-6 hover:ring-primary-7 hover:bg-primary-3 focus:ring-primary-7 focus:bg-primary-3 ring-2 border-0 py-2 md:py-3 px-4 md:px-5 text-md md:text-lg"
					placeholder="Tu nombre (obligatorio)" required />
			</div>
			<div class="relative z-0 w-full group gap-2 flex flex-col">
				<label for="last_name">Apellido <span class="text-rose-400">*</span></label>
				<input type="text" autocomplete="off" name="last_name" id="last_name"
					class="block w-full rounded-xl bg-primary-5 ring-primary-6 hover:ring-primary-7 hover:bg-primary-3 focus:ring-primary-7 focus:bg-primary-3 ring-2 border-0 py-2 md:py-3 px-4 md:px-5 text-md md:text-lg"
					placeholder="Tu apellido (obligatorio)" required />
			</div>
		</div>
		<div class="relative z-0 w-full group gap-2 flex flex-col">
			<label for="email">E-mail <span class="text-rose-400">*</span></label>
			<input type="email" autocomplete="off" name="email" id="email"
			class="block w-full rounded-xl bg-primary-5 ring-primary-6 hover:ring-primary-7 hover:bg-primary-3 focus:ring-primary-7 focus:bg-primary-3 ring-2 border-0 py-2 md:py-3 px-4 md:px-5 text-md md:text-lg"
			placeholder="Tu correo electronico (obligatorio)" required />
		</div>
		<div class="relative z-0 w-full group gap-2 flex flex-col">
			<label for="phone">Número celular</label>
			<input type="tel" autocomplete="off" name="phone" id="phone"
				class="block w-full rounded-xl bg-primary-5 ring-primary-6 hover:ring-primary-7 hover:bg-primary-3 focus:ring-primary-7 focus:bg-primary-3 ring-2 border-0 py-2 md:py-3 px-4 md:px-5 text-md md:text-lg"
				placeholder="Tu número celular (No obligatorio)" required />
		</div>
		<div class="relative w-full group gap-2 flex flex-col">
			<label for="message">Mensaje <span class="text-rose-400">*</span></label>
			<textarea autocomplete="off" name="message" id="message" rows="5" 
				class="block w-full rounded-xl bg-primary-5 ring-primary-6 hover:ring-primary-7 hover:bg-primary-3 focus:ring-primary-7 focus:bg-primary-3 ring-2 border-0 py-2 md:py-3 px-4 md:px-5 text-md md:text-lg"
				placeholder="Tu mensaje o consulta (obligatorio)" required></textarea>
		</div>
		<button type="submit" aria-label="Enviar mensaje"
			class="flex w-full text-center justify-center gap-2 h-14 font-semibold py-2 md:py-3 px-4 md:px-5 text-white bg-primary-3 hover:bg-primary-2 transition-all duration-300 items-center border-primary-2 border-2 rounded-full" id="result">
			Enviar mensaje
			<svg width="18" height="18" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
				<path fill="#FFFFFF"
					d="M338.752 104.704a64 64 0 0 0 0 90.496l316.8 316.8l-316.8 316.8a64 64 0 0 0 90.496 90.496l362.048-362.048a64 64 0 0 0 0-90.496L429.248 104.704a64 64 0 0 0-90.496 0z">
				</path>
			</svg>
		</button>
	</form>
</div>
</div>
</section>

<script is:inline>
	const form = document.getElementById('form');
	const result = document.getElementById('result');
	form.addEventListener('submit', function (e) {
		const formData = new FormData(form);
		e.preventDefault();
		result.disabled = true;
		result.innerHTML = `<svg aria-hidden="true" class="w-6 h-6 text-gray-200 animate-spin dark:text-gray-600 fill-primary-2" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/><path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/></svg>`;
		const object = Object.fromEntries(formData);
		const json = JSON.stringify(object);

		fetch('https://api.web3forms.com/submit', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'Accept': 'application/json'
			},
			body: json
		})
			.then(async (response) => {
				if (response.status == 200) {
					result.innerHTML = "¡Enviado con exito!";
				} else {
					console.log(response);
					result.innerHTML = "Error al enviar el mensaje :(";
				}
			})
			.catch(error => {
				console.log(error);
				result.innerHTML = "Error al enviar el mensaje :(";
			})
			.then(function () {
				form.reset();
			});
	});
</script>