---
const year = new Date().getFullYear()
---

<footer class="container flex items-center h-full lg:min-h-[10vh] mx-auto md:px-12 px-5 pt-10 pb-10 relative z-10 w-full flex-row justify-between">
	<p class="text-white opacity-70 text-base font-semibold">Copyright © {year}</p>
	<p class="text-white opacity-70 text-base font-semibold">Hecho con ❤️ y ☕</p>
</footer>
