<section
  class="container grid lg:grid-cols-2 grid-cols-1 gap-y-10 gap-x-10 lg:gap-y-0 h-screen mx-auto pt-36 lg:pt-0 relative z-0 md:px-12 px-5 overflow-hidden"
  id="home"
>
  <div
    class="flex flex-col gap-y-4 h-full justify-center text-center lg:text-left"
  >
    <h1
      class="font-black text-transparent text-3xl md:text-4xl lg:text-4xl xl:text-6xl bg-clip-text bg-gradient-to-r from-primary-1 to-primary-2 lg:w-fit order-2"
    >
      PATRICIO ALMADA
    </h1>
    <h2
      class="text-white font-extrabold text-1xl md:text-2xl lg:text-2xl xl:text-3xl before:w-3 before:h-3 before:bg-primary-1 before:rounded-full order-3"
    >
      DESARROLLADOR WEB FULL STACK
    </h2>
    <h3 class="text-white font-bold text-1xl md:text-2xl lg:text-2xl xl:text-3xl opacity-90 order-1">
      ¡Hola! Mi nombre es
    </h3>
    <div class="flex flex-row gap-x-2 justify-center lg:justify-normal order-4">
      <a
        href="https://github.com/patrickwebsdev"
        target="_blank"
        aria-label="Ir al perfil de github"
        class="flex self-start gap-2 h-12 md:h-14 font-semibold py-2 px-2 md:py-3 md:px-3 text-white bg-primary-3 hover:bg-primary-2 transition-all duration-300 items-center border-primary-2 border-2 rounded-full"
      >
        <svg
          width="32"
          height="32"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill="#FFFFFF"
            d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33c.85 0 1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2Z"
          ></path></svg
        >
      </a>
      <a
        href="https://www.linkedin.com/in/patrickwebsdev/"
        aria-label="Ir a linkedin"
        target="_blank"
        class="flex self-start gap-2 h-12 md:h-14 font-semibold py-2 px-2 md:py-3 md:px-3 text-white bg-primary-3 hover:bg-primary-2 transition-all duration-300 items-center border-primary-2 border-2 rounded-full"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          ><path
            fill="#fff"
            d="M6.94 5a2 2 0 1 1-4-.002 2 2 0 0 1 4 .002ZM7 8.48H3V21h4V8.48Zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91l.04-1.68Z"
          ></path></svg
        >
      </a>
      <a
        href="#contact"
        aria-label="Ir a seccion de contacto"
        class="flex self-start gap-2 h-12 md:h-14 font-semibold py-2 px-4 md:py-3 md:px-5 text-white bg-primary-3 hover:bg-primary-2 transition-all duration-300 items-center border-primary-2 border-2 rounded-full"
      >
        Contacto
        <svg
          width="18"
          height="18"
          viewBox="0 0 1024 1024"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill="#FFFFFF"
            d="M338.752 104.704a64 64 0 0 0 0 90.496l316.8 316.8l-316.8 316.8a64 64 0 0 0 90.496 90.496l362.048-362.048a64 64 0 0 0 0-90.496L429.248 104.704a64 64 0 0 0-90.496 0z"
          ></path></svg
        >
      </a>
    </div>
  </div>
  <div class="flex justify-center items-center h-full">
		<div class="group/card bg-primary-5 ring-primary-6 hover:ring-primary-7 hover:bg-primary-3 ring-2 rounded-lg shadow transition-all duration-300 grid p-2 w-full divide-y-[1px] divide-white divide-opacity-30 group-hover/card:divide-opacity-70 gap-2">
			<div class="flex justify-between items-center relative">
				<div class="flex gap-1">
					<div class="p-1.5 rounded-full bg-white opacity-30 group-hover/card:opacity-70 hover:bg-red-400 transition-colors"></div>
					<div class="p-1.5 rounded-full bg-white opacity-30 group-hover/card:opacity-70 hover:bg-amber-400 transition-colors"></div>
					<div class="p-1.5 rounded-full bg-white opacity-30 group-hover/card:opacity-70 hover:bg-green-400 transition-colors"></div>
				</div>
				<span class="text-white opacity-30 group-hover/card:opacity-70 text-sm absolute top-0 left-0 w-full text-center">/index.js</span>
				<svg stroke="currentColor" fill="#FFF" stroke-width="0" viewBox="0 0 24 24" class="cursor-pointer opacity-30 group-hover/card:opacity-70" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
					<path fill="none" d="M0 0h24v24H0z"></path>
					<path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm-1 4l6 6v10c0 1.1-.9 2-2 2H7.99C6.89 23 6 22.1 6 21l.01-14c0-1.1.89-2 1.99-2h7zm-1 7h5.5L14 6.5V12z"></path>
				</svg>
			</div>
			<div class="w-full overflow-auto">
				<pre class="text-zinc-400 text-sm py-2 px-2 w-full relative"><code id="code"><span class="text-fuchsia-400">const</span> <span class="text-sky-500">bienvenida</span> <span class="text-sky-300">=</span> <span class="text-fuchsia-400">() =&gt; &#123;</span><br>	<span class="text-fuchsia-400">const</span> <span class="text-amber-300">sobreMi</span> <span class="text-sky-300">=</span> <span class="text-sky-300">&#123;</span><br>		<span class="text-rose-400">nombre</span>: <span class="text-lime-500">'Patricio',</span><br>		<span class="text-rose-400">apellido</span>: <span class="text-lime-500">'Almada',</span><br>		<span class="text-rose-400">foto</span>: <span class="text-lime-500">'</span><span class="text-lime-500 underline cursor-pointer" id="profile-photo">profile.png</span><span class="text-lime-500">',</span><br>		<span class="text-rose-400">país</span>: <span class="text-lime-500">'Argentina',</span><br>		<span class="text-rose-400">idiomas</span>: <span class="text-amber-300">&#123;</span><br>			<span class="text-rose-400">español</span>: <span class="text-lime-500">'Nativo',</span><br>			<span class="text-rose-400">ingles</span>: <span class="text-lime-500">'Tecnico intermedio'</span><br>		<span class="text-amber-300">&#125;</span><br>	<span class="text-sky-300">&#125;</span><br>	<span class="text-fuchsia-400">return</span> <span class="text-amber-300">sobreMi</span>;<br><span class="text-fuchsia-400">&#125;</span><br><span class="text-amber-300">console</span>.<span class="text-sky-500">info</span><span class="text-fuchsia-400">&#40;</span><span class="text-sky-500">bienvenida</span><span class="text-fuchsia-400">&#41;</span>;</code></pre>
			</div>
		</div>
	</div>
  <div
    class="w-full justify-center items-center absolute bottom-12 left-0 hidden lg:flex"
  >
    <a
      href="#projects"
      aria-label="Ir a seccion sobre mí"
      class="animate-bounce py-1 px-1 text-white bg-primary-3 hover:bg-primary-2 transition-all duration-300 items-center border-primary-2 border-2 rounded-full"
    >
      <svg
        width="48"
        height="48"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill="#ffffff"
          d="m12 19.164l6.207-6.207l-1.414-1.414L12 16.336l-4.793-4.793l-1.414 1.414L12 19.164Zm0-5.65l6.207-6.207l-1.414-1.414L12 10.686L7.207 5.893L5.793 7.307L12 13.514Z"
        ></path>
      </svg>
    </a>
  </div>
</section>
<img src="/profile.png" id="profile-image" class="absolute hidden w-[15vw]">
<script is:inline>
	const profileLink = document.getElementById("profile-photo");
	const profileImage = document.getElementById("profile-image");

	profileLink.onmouseenter = () => {
		profileImage.classList.remove('hidden');
	}

	profileLink.onmousemove = (e) => {
		let x = e.pageX;
		let y = e.pageY;
		profileImage.style.top = (y + 20) +  'px';
		profileImage.style.left = (x + 20) + 'px';
	}

	profileLink.onmouseout = () => {
		profileImage.classList.add('hidden');
	}
</script>