---
---

<nav
  class="px-3 md:px-12 fixed flex top-0 w-full z-50"
>
  <div
    class="md:px-12 flex flex-wrap items-center justify-between mx-auto md:py-4 mt-4 backdrop-blur-lg rounded-full overflow-hidden"
  >
		<div class="absolute top-0 left-0 w-full h-full bg-background-1 opacity-25 z-[-1]"></div>
    <div class="w-full block">
      <ul
        class="font-medium flex mt-0 rounded-lg flex-row md:space-x-8 border-0 [&>li>a]:font-semibold [&>li>a]:block [&>li>a]:py-2 [&>li>a]:pl-4 [&>li>a]:pr-4 md:[&>li>a]:p-0 hover:[&>li>a]:text-primary-2 text-xs md:text-base lg:text-lg xl:text-xl"
      >
        <li>
          <a href="#home" class="text-white rounded-full">Inicio</a>
        </li>
        <li>
          <a href="#projects" class="text-white rounded-full">Proyectos</a>
        </li>
        <li>
          <a href="#aboutme" class="text-white rounded-full">Sobre mi</a>
        </li>
        <li>
          <a href="#contact" class="text-white rounded-full">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>