---

---

<div class="container mx-auto flex justify-center items-center  md:px-12 px-5">
  <div class="flex-grow border-t border-primary-2"></div>
  <slot />
  <div class="flex-grow border-t border-primary-2"></div>
</div>